/* shared style */
body{
    font-family: 'lato',sans-serif;
    font-family: 'Open Sans', sans-serif;

}


/* nav releted style */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px;
}
.text-primary{
    color:#FD6E0A;
}
.header{
    background-color:#FFF8F3;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}
.btn-primary{
   
    border-radius: 5px;
    background: #FD6E0A;
    border:0px;
    font-size: 20px;
    color:white;
    
   
    font-weight: 700;
    padding:15px 35px;
}
.nav-title{
    
    color:  #181818;
font-size: 45px;

font-weight: 800;

}
nav > ul{
    display:flex;
    align-items: center;


    
}
nav li{
    list-style: none;
       margin-right: 50px; 
  
 }
 nav a{
    text-decoration: none;
    color:#474747;
 }
.baner{
    padding:30px 30px 0px 150px;
    display:flex;
    align-items: center;

}
.baner .profile{
   
height: 523px;
width:552px;
flex-shrink: 0;
}
.baner-greeting{
    font-size: 45px;
   color:#474747;
   margin-bottom: 0;
}
.baner-title{
font-size: 65px;
font-weight: 700;
margin-top: 5px;
}
.baner-history{
    color:#757575;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 10px;
}
main{
    max-width: 1140px;
    margin:0 auto;
}
.section-title{
    color:#181818;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;

}
.section-description{
    color: #757575;
text-align: center;
font-size: 18px;

}
main section{
    margin-top: 130px;
}
.about{
    padding:130px;
    border-radius: 10px;
background: #FFF8F3;
margin:130px 0;
}
.about-info-container{
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.about-info{
    text-align: center;
}

.skills-container{
    display:flex;
    gap:24px;
}
.skill{
    padding: 50px;
    
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    padding:30px;
    color: var(--dark-03, #757575);

}
#waht-i-do-description{
    padding:30px 150px;
}
.resume-colum-title{
    color: #474747;
font-size: 30px;
font-weight: 700;
}